/.metadata/
workspace.xml

### Intelli J ignore ###
/.idea/
/.settings/

#### Artifacts ignore ###
/out/artifacts/

#### Targets ignore ####
/target/
target/classes/WEB-INF/mappers/purchaseMapper.xml
target/classes/WEB-INF/mappers/PublisherMapper.xml
target/classes/WEB-INF/mappers/NonMemberMapper.xml
target/classes/WEB-INF/mappers/MemberMapper.xml
target/classes/WEB-INF/mappers/cartMapper.xml
target/classes/WEB-INF/mappers/BookMapper.xml
