
/*.tabs{*/
    /*height: auto;*/
    /*white-space: normal;*/
    /*border:1px solid #f0f0f0;*/
/*}*/
/*.tab{*/
    /*display: block;*/
    /*width: 100%;*/
    /*border-bottom: 1px solid #f0f0f0;*/
/*}*/
/*.tab-content{*/
    /*height: 400px;*/
    /*width: 100%;*/
    /*!*background: #fcfcfc;*!*/
    /*border:1px solid #f0f0f0;*/
/*}*/
/*.indicator{*/
    /*display: none;*/
/*}*/
