<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="booktrain.cart">

    <select id="isContainList" parameterType="hashMap" resultType="cart">
        SELECT * FROM SHOPPING_CART
        WHERE ISBN = #{isbn} and TEL = #{memberTel}
    </select>

    <insert id="addCart" parameterType="hashMap">
      INSERT INTO SHOPPING_CART(tel, isbn, quantity)
      VALUES (#{memberTel}, #{isbn}, 1)
    </insert>

    <update id="plusCart" parameterType="hashMap">
        UPDATE SHOPPING_CART
        SET QUANTITY = QUANTITY + 1
        WHERE tel = #{memberTel} AND isbn = #{isbn}
    </update>

    <select id="cartList" parameterType="String" resultMap="cart">
      SELECT b.TITLE AS title, b.isbn AS isbn, (b.price*c.quantity) AS price, c.quantity AS quantity
      FROM shopping_cart c INNER JOIN book b
      ON c.isbn = b.isbn
      INNER JOIN member m
      ON m.tel = C.tel
      where m.tel = #{memberTel}
    </select>

    <resultMap id ="cart" type="cart">
        <result property="tel" column="tel"/>
        <result property="isbn" column="isbn"/>
        <result property="quantity" column="quantity"/>
        <collection property="bookVO" resultMap="book"/>
        <collection property="memberVO" resultMap="member"/>
    </resultMap>

    <resultMap id="book" type="book">
        <result property="title" column="title"/>
        <result property="price" column="price"/>
        <result property="isbn" column="isbn"/>
    </resultMap>

    <resultMap id="member" type="member">
        <result property="tel" column="tel"/>
    </resultMap>

    <delete id="deleteCartList" parameterType="String">
        DELETE FROM SHOPPING_CART
        WHERE TEL = #{memberTel}
    </delete>

    <delete id="deleteBook" parameterType="hashMap">
      DELETE FROM SHOPPING_CART
      WHERE isbn = #{isbn} and tel = #{memberTel}
    </delete>

</mapper>