<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

    <insert id="memberjoin" parameterType="member">
        Insert into member (id, password, name, tel,jumin1,jumin2,email,domain ,addr1,addr2,addr3)
        VALUES (  #{id},#{password},#{name},#{tel}, #{jumin1},#{jumin2},
        #{email},#{domain}, #{addr1},#{addr2},#{addr3})
</insert>


    <select id="login" parameterType="member" resultType="member">
      select *
      from member
      where id = #{id}
        <if test="password != null">
        and password = #{password}
        </if>
    </select>

    <update id="memberupdate" parameterType="member">
      update MEMBER
      set password = #{password},
          name = #{name},
          tel = #{tel},
          email = #{email},
          domain = #{domain},
          addr1 = #{addr1},
      addr2 = #{addr2},
      addr3 = #{addr3}
      where id = #{id}
    </update>

    <select id="idCheck" parameterType="member" resultType="member">
        SELECT * FROM MEMBER
        WHERE id = #{id}
    </select>

    <select id="telCheck" parameterType="member" resultType="member">
        SELECT * FROM MEMBER
        WHERE tel = #{tel}
    </select>

    <update id="updateMemberPoint" parameterType="member">
        update MEMBER
        SET POINT = POINT+#{point}
        WHERE TEL = #{tel}
    </update>

    <select id="memberOrderList" resultType="purchase">
      select *
      from PURCHASE
    </select>

    <delete id="memberDelete" parameterType="member">
        delete from member where password = #{password}
    </delete>

    <select id="memberIdFind" parameterType="member" resultType="member">
        select id
        from member
        where tel=#{tel} and email=#{email} and domain = #{domain}
    </select>

</mapper>
