<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="booktrain.review">

    <!-- 리뷰 등록 -->
    <insert id="insertReview" parameterType="review">
      INSERT INTO REVIEW ( REVIEW_NUMBER, ORDER_NUMBER, ISBN, WRITING_TIME, CONTENT, SCORE)
      VALUES (SEQ_REVIEW_NUMBER.nextval, #{orderNumber}, #{isbn}, sysdate, #{content}, #{score})
    </insert>

    <!-- 해당 isbn의 리뷰 정보를 불러옴-->
    <select id="seeReview" resultMap="review">
      SELECT substr(m.name,1,1) || lpad('*',length(m.name)-2,'*') || substr(m.name, length(m.name), 1) AS name,
      TO_CHAR(re.WRITING_TIME,'YYYY-MM-DD HH24:MI') AS writing_time, re.CONTENT AS content, re.SCORE as score
      FROM REVIEW re INNER JOIN PURCHASE p on re.ORDER_NUMBER = p.ORDER_NUMBER
                  INNER JOIN MEMBER m on p.MEMBERTEL = m.TEL
      WHERE re.ISBN = #{isbn}
      ORDER BY WRITING_TIME DESC
    </select>

    <resultMap id="review" type="review">
        <result property="reviewNumber" column="review_number"/>
        <result property="orderNumber" column="order_number"/>
        <result property="isbn" column="isbn"/>
        <result property="writingTime" column="writing_time"/>
        <result property="content" column="content"/>
        <result property="score" column="score"/>
        <collection property="memberVO" resultMap="member"/>
    </resultMap>

    <resultMap id="member" type="member">
        <result property="name" column="name"/>
        <result property="tel" column="tel"/>
    </resultMap>

    <resultMap id="purchase" type="purchase">
        <result property="memberTel" column="memberTel"/>
    </resultMap>
</mapper>